*{
  margin: 0;
}
.mainWrapper{
  display: grid;
  width: 100%;
  grid-template-areas:
      "header header"
      "Navbar WorkZone";
}

.Header{
  grid-area: header;
}

.Navbar{
  grid-area: Navbar;
}

.WorkZone{
  grid-area: WorkZone;
}
